.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
public/*
private/*
resources/_gen/*
temp_figs/*
**/0[5-6]-*/**
**/0[5-6]-*
nlsy_cc.csv
nlsy.rds
content/labs/nlsy_cc.csv
content/exercises/nlsy_cc.csv
*.gform
*.gsheet